@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-image {
  background-image: url('/public/images/background.png');
}


.bg-b1 {
  background-image: url('/public/images/b1.png');
}

.bg-chat {
  background-image: url('/public/images/bg-chat.png');
  background-size: 600px;
}

.bg-score {
  background-image: url('/public/images/score.png');
}

.bg-type {
  background-image: url('/public/images/bg-type.png');
}

.bg-history {
  background-image: url('/public/images/bg-history.png');
}

.bg-nextround {
  background-image: url('/public/images/nextround.png');
}

@font-face {
  font-family: 'Metal Mania';
  src: url('/public/fonts/MetalMania-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Darumadrop One';
  src: url('/public/fonts/DarumadropOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('/public/fonts/EBGaramond-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/public/fonts/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Coiny';
  src: url('/public/fonts/Coiny.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}